*{
    margin: 0;
    padding: 0;
}
body{
    margin: auto;
}

#container{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.ph{
    border: 1px solid black;
    padding: 5rem;
}