*{
    margin: 0;
    padding: 0;
}
body{
    margin: auto;
    background-color: #324C56;
    /* min-width: 50%;*/
}

#container{
    margin: 4rem 0rem 0rem 0rem;
    display: grid;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: center;
    /*grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);*/
}


/*Button*/
#btn{
    border: none;
    border-radius: 1rem 1rem 0rem 0rem;
    background-color: #F7766C;
    padding: 1rem;
    font-size: 2rem;
    color: white;
}
#btn:hover{
    background-color: #EE384C;
}


#etch{
    display: grid;
    grid-template-columns: repeat(16, 3rem);
    grid-auto-rows: 3rem;
    border: 1rem solid #F7766C;
    background-color: #D8CCB7;
}
.sketch{
    border: 1px solid #F7766C;
}
.sketch:hover{
    background-color: #EE384C;
}